if [ -z "$BASE_NAME" ]
then
	BASE_NAME=Impala2go
fi
IMPALA_WORK_ROOT=
LOG_DIR=$IMPALA_WORK_ROOT/var/log/${BASE_NAME}
IMPALA_TO_GO_CACHE=$IMPALA_WORK_ROOT/var/cache/${BASE_NAME}
CLUSTER_VAR_BASE=${IMPALA_TO_GO_CACHE}/cluster
KNOWN_CLUSTERS_DIR=${IMPALA_TO_GO_CACHE}/clusters
LOCK_DIR=$IMPALA_WORK_ROOT/var/lock/${BASE_NAME}

